* {
    padding: 0%;
    box-sizing: border-box;
}

.item {
    background-color: aqua;
    width: 200px;
    margin-right: 15px;

}

.checked {
    color: yellow;
}

.box {
    display: flex;
    text-align: center;
}

.item1 {
    background-color: aqua;
    width: 200px;
    height: 400px;
    margin-right: 15px;

}

.box1 {
    /* width :208px;
    height:370px; */
    display: flex;
    text-align: center;


}

#content {
    min-height: 500px;
    background-color: chartreuse;
    margin-top: 40px;
}

img {

    width: 100%;
    height: 200px;
}

.div1 {
    margin-top: 210px;
}

.div2 {
    display: flex;

}

.div2 div {
    margin-left: 20px;
}

#demo {
    /* text-align: center; */
    font-size: 30px;
    margin-top: 0px;
}
