* {
    padding: 0%;
    box-sizing: border-box;
}

.item {
    width: 254px;
    margin-right: 15px;
    border: 2px solid brown;
}

.anhsamset {
    width: 24px;
    height: 30px;
    display: inline-block;
}

.checked {
    color: yellow;
}

.box {
    display: flex;
    text-align: center;
    margin-left: 140px;
    border-radius: 5px;

}

.item1 {
    background-color: pink;
    width: 200px;
    height: 400px;
    margin-right: 15px;

}

.box1 {
    /* width :208px;
    height:370px; */
    display: flex;
    text-align: center;
    margin-left: 140px;
    margin-top: 10px;
}

#content {
    min-height: 500px;
    background-color: white;
    margin-top: 40px;
}

img {

    width: 100%;
    height: 200px;
}

.div1 {
    margin-top: 210px;
}

.div2 {
    display: flex;
    align-items: left;
    text-align: left;
    margin-left: 140px;
    background-color: #FFDECF;
    margin-right: 128px;
    border: solid #FFDECF;
    justify-content: left;
    /* Căn giữa ngang */
    align-items: center;
    /* Căn giữa dọc */
    height: 70px;
    /* Chiều cao của phần tử chứa văn bản */
    margin-top: auto;
}

#countdown1 {
    /* text-align: center; */
    font-size: 27px;
    margin-left: 20px;
    padding: 1px;
    margin: 1px;
    margin-bottom: 10px;
}

#days1 {
    background-color: #B5313A;
    margin-bottom: 10px;
}

#hours1 {
    background-color: #B5313A;
    margin-bottom: 10px;
}

#minutes1 {
    background-color: #B5313A;
    margin-bottom: 10px;
}

#seconds1 {
    background-color: #B5313A;
    margin-bottom: 10px;
}

.item1 {
    border: 10px red;
}

/* đồng hồ */
.countdown {
    display: flex;
    justify-content: center;
}

.clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    padding: 10px;
}

span {
    font-size: 27px;
    /* Điều chỉnh kích thước chữ cho ngày, giờ, phút và giây */
    font-weight: bold;
    color: white;
}


/* danh sách voucher */
.voucher {
    display: flex;
    margin: 20px;
    padding: 5px;
    /* Giảm khoảng cách giữa border và nội dung */
    width: 40px;
    /* Điều chỉnh chiều rộng */
    height: 30px;
    /* Điều chỉnh chiều cao */
}

.voucher-text {
    flex: 10;
    /* Chia đều khoảng trống trong phần tử voucher */
}

.voucher-button {
    display: flex;
    margin-left: 55px;
    /* Điều chỉnh khoảng cách giữa nút và phần tử voucher */
    width: 100px;
    /* Điều chỉnh chiều rộng của nút */
    height: 40px;
    /* Điều chỉnh chiều cao của nút */
    background-color: brown;
    /* Màu nền của nút */
    color: white;
    /* Màu chữ trên nút */
    border: none;
    /* Loại bỏ border */
    border-radius: 5px;
    /* Bo góc cho nút */
    font-size: 14px;
    /* Kích thước chữ */
    cursor: pointer;
    /* Đổi con trỏ khi di chuột vào nút */
    margin-bottom: 50px;
}
