
.filter{
width: 90%;
  align-items: center;
  margin: 20px;
  font-size: 16px;
}

.filter input[type='radio'] {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.filter span{
  margin-right: 20px;
  
}
.flex{
  display: flex;
  align-items: center;
}

.filter input, .filter select{
  margin-right: 10px;
  margin-left: 10px;
  font-size: 16px;
  padding: 3px;
}

.filter select{
display: none;

}

.filter .date{
  margin: 20px 0;
}
.thongke{
  padding: 10px;
  background-color: #000000;
  border: 2px solid black;
  border-radius: 3px;
}
.thongke a{
  color: #fff;
}
.thongke:hover{
  background-color: #C92127;
  border: 2px solid #C92127;
}