/* Thay đổi màu chủ đạo và màu chữ */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2c3e50;
}

.wrapper {
  background-color: #34495e; /* Giữ màu xanh */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  margin: auto; /* Đặt ở giữa màn hình */
}

.title {
  color: #ecf0f1;
  margin-bottom: 20px;
}

.field {
  position: relative;
  margin-bottom: 20px;
}

.field input {
  width: calc(30% - 20px); /* Tính toán chiều rộng để giữ khoảng trắng 10px ở mỗi bên */
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  outline: none;
}

.field label {
  color: #bdc3c7;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.5s;
}

.field input:focus + label,
.field input:valid + label {
  color: #ecf0f1;
  top: 0;
  font-size: 12px;
}

/* Thêm đoạn CSS này để định dạng màu cho liên kết "Quên mật khẩu" */
.pass-link a {
  text-decoration: none;
  color: #3498db; /* Màu xanh dương */
  font-weight: bold;
}

.pass-link a:hover {
  color: #2980b9; /* Màu xanh dương khi hover */
}
